.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: calc(100vh - 160px);
}

.greeting {
  margin-bottom: 40px;
  color: #333;
}

.usernameLink {
  color: #333;
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.messageArea{
  display: flex;
  justify-content: space-between;
}

.luck{
  color: #333;
  text-decoration: none;
  background: linear-gradient(-45deg, transparent 10px, salmon 50);
  padding : 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}